.row
  .col-lg-12
    %h1.page-header
      Universidades

- @universities.each do |uni|
  .row.university
    .col-md-4
      %a{:href => "#"}
        %img.img-responsive.university-logo{:src => asset_path( "#{uni.logo}"), :alt=> 'Imagen de la universidad'}
    .col-md-8
      %h3
        = uni.name
      %p
        = uni.description
      = link_to teachers_path(:uid => "#{uni.id}"), :class => "btn btn-primary" do
        Ver Profesores
      = link_to teachers_path, :class => "btn btn-primary",:value => "#{uni.id}" do
        Ver Cursos
  %hr/



/ Pagination
.row.text-center
  .col-lg-12
    %ul.pagination
      %li
        %a{:href => "#"} «
      %li.active
        %a{:href => "#"} 1
      %li
        %a{:href => "#"} 2
      %li
        %a{:href => "#"} 3
      %li
        %a{:href => "#"} 4
      %li
        %a{:href => "#"} 5
      %li
        %a{:href => "#"} »
/ /.row
%hr/