//%p#notice= notice

.modal.fade.bs-example-modal-lg#evaluationModal{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
  %button#submit-comment.btn.btn-sm.btn-default.pull-right Comentar
%div.row
  %div.container
    %div.col-md-12
      %div.teacher-info
        %label.hidden#teacher-id= @teacher.id
        = link_to "Atras" , faculty_teachers_path(:faculty_id=> @teacher.faculty_id) , {:class => "btn btn-default pull-right"}
        - if user_signed_in?
          %a.btn.btn-default.pull-right#comment-teacher{href:"#comment-section"} Dejar un comentario
          - if @teacher.evaluated
            %button.btn.btn-default.pull-right#evaluate-teacher Evaluar Profesor
          - else
            %button.btn.btn-default.pull-right#evaluate-teacher.disabled Evaluar Profesor


        %h2 Profesor
        %p.teacher-full-name  #{@teacher.name} #{@teacher.last_name}

  -#
    %script{src: '/assets/teachers.js'}

%div.container
  %div.row
    %div.col-md-12
      %div.teacher-comments
        %h2 Comentarios para #{@teacher.name}

    /%ul#teacher-comment-list
    %div.teacher-comments#teacher-comment-list
      - @teacher.teacher_comments.each do |comment|
        %div.col-md-8
          %div.panel.panel-default
            %div.panel-heading
              - if current_user.manager
                %i.fa-times.fa.pull-right.delete-comment{id: "#{comment.id}"}
              %strong
                #{comment.user_name}
              %span{class:'text-muted'}
                #{comment.created_at.strftime('%d %b %Y %I:%M %p')}
            %div.panel-body
              #{comment.content}
    - if user_signed_in?
      %label.hidden#user-id= current_user.id
      %label.hidden#user-name= current_user.name
      %label.hidden#user-manager= current_user.manager
      %div.col-md-6.make-comment
        %label#comment-section Escribir un comentario
        %br/
        %textarea.form-control#comment-area{rows: 8,cols:64}
        %br/
        %button.btn.btn-primary.pull-right#do-comment Comentar