-rubrics = ["Presenta la materia con claridad.",
            "Evaluaciones acorde con lo visto en clase.",
            "Es responsable con la entrega de evaluaciones.",
            "Realiza actividades que fomenten el razonamiento del estudiante.",
            "Muestra interés por el aprendizaje de los estudiantes.",
            "Preparación de las clases.",
            "Uso adecuado del tiempo de clase",
            "Atiende dudas de los estudiantes",
            "Es puntual.",
            "Fomenta un clima de respeto"]

.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
        %span{"aria-hidden" => "true"} ×
      %h3#post-modal-title.modal-title Evaluacion para profesor
      %small Siguiendo la rubica evalue al profesor seleccionando un numero para cada rubro a evaluar
    .modal-body
      %div.row
        %div.teacher-evaluation
          - 10.times do |x|
            %div.col-md-12
              %form{id: "rubric#{x+1}"}
                %span.teacher-rubrics #{x+1}. #{rubrics[x]}
                %br/
                %div.btn-group.teacher-button-group{ 'data-toggle'=> "buttons"}
                  - 10.times do |j|
                    %label.btn.btn-default
                      %input{:name => "radioName", :type => "radio", :value => "#{j+1}"}/
                      #{j+1}

          %div.col-md-12
            %button.btn.btn-default.pull-right#send-evaluation Enviar Evaluacion

