.row
  .col-md-10
    %h1 Lista de Cursos
  .col-md-2
    %a.btn.btn-default.pull-right{onclick:"javascript:window.history.back();"} Ir atras


%table.table.table-hover
  %thead
    %tr
      %th Nombre
      /%th Sum eval
      %th Cant eval
      %th Calificacion general
      %th
  /%th

  %tbody
    - @courses.each do |course|
      %tr{id: "teacher_#{course.id}"}
        %td= course.name
        %td= course.eval_amount
        - total = course.eval_sum / course.eval_amount
        - if course.eval_amount == 0
          - total=0
        %td= number_with_precision(total, precision: 2)
        %td= link_to 'Ver Curso', course, {class: "btn btn-default"}

%br

/= link_to 'New Course', new_course_path
