.row
  .col-md-10
    %h1 Lista de Cursos
  .col-md-2
    %a.btn.btn-default.pull-right{onclick:"javascript:window.history.back();"} Ir atras

.row
  .col-md-6
    - if !user_signed_in?
      %blockquote
        %i Inicie sesi&oacute;n para evaluar.

%table.table.table-hover{"ng-app" => "Rateach", "ng-controller" => "MainController"}
  %thead
    %tr
      %th Nombre
      /%th Sum eval
      %th Cant eval
      %th Calificacion general
      %th

  %tbody{"ng-repeat" => "c in courses"}
    %tr{:id =>"{{c.id}}" }
      %td {{c.name}}
      %td {{c.eval_amount}}
      %td {{c.eval_sum / c.eval_amount | number:2 }}
      - url_escaped_href = course_path('{{ c.id}}')
      - my_href = URI::unescape(url_escaped_href)
      %td= link_to 'Ver Curso', my_href, {class: "btn btn-default"}
-#
  %tbody
    - @courses.each do |course|
      %tr{id: "teacher_#{course.id}"}
        %td= course.name
        %td= course.eval_amount
        - total = course.eval_sum / course.eval_amount
        - if course.eval_amount == 0
          - total=0
        %td= number_with_precision(total, precision: 2)
        %td= link_to 'Ver Curso', course, {class: "btn btn-default"}

