%p#notice= notice

%p
  %b Name:
  = @course.name
%p
  %b Eval sum:
  = @course.eval_sum
%p
  %b Eval amount:
  = @course.eval_amount

= link_to 'Edit', edit_course_path(@course)
\|
= link_to 'Back', courses_path
