//%p#notice= notice
.modal.fade.bs-example-modal-lg#evaluation-course-modal{"aria-hidden" => "true", "aria-labelledby" => "myLargeModalLabel", :role => "dialog", :tabindex => "-1"}
%div.row
  %div.container
    %div.col-md-12
      %div.course-info
        %label.hidden#course-id= @course.id
        = link_to "Atras" , faculty_courses_path(:faculty_id=> @course.faculty_id) , {:class => "btn btn-default pull-right"}
        - if user_signed_in?
          %a.btn.btn-default.pull-right#comment-course{href:"#comment-section"} Dejar un comentario
          - if @course.evaluated
            %button.btn.btn-default.pull-right#evaluate-course Evaluar Curso
          - else
            %button.btn.btn-default.pull-right#evaluate-course.disabled Evaluar Curso


        %h2 Nombre del Curso
        %p.course-full-name  #{@course.name}

  -#
    %script{src: '/assets/courses.js'}

%div.row
  %div.container
    %div.col-md-12
      %div.course-comments
        %h2 Comentarios para el curso
    /%ul#course-comment-list
    %div.course-comments#course-comment-list
      - @course.course_comments.each do |comment|
        %div.col-md-8
          %div.panel.panel-default
            %div.panel-heading
              - if current_user.manager
                %i.fa-times.fa.pull-right.delete-comment-course{id: "#{comment.id}"}
              %strong
                #{comment.user_name}
              %span{class:'text-muted'}
                #{comment.created_at.strftime('%d %b %Y %I:%M %p')}
            %div.panel-body
              #{comment.content}
    - if user_signed_in?
      %label.hidden#user-id= current_user.id
      %label.hidden#user-name= current_user.name
      %label.hidden#user-manager= current_user.manager
      %div.col-md-6.make-comment
        %label#comment-section Escribir un comentario
        %br/
        %textarea.form-control#comment-area{rows: 8,cols:64}
        %br/
        %button.btn.btn-primary.pull-right#do-comment-course Comentar